<div class="wrapper">
  <div class="container">
    <h1>Liste des cocktails</h1>
    <div class="row">
      <% @cocktails.each do |cocktail| %>
        <div class="col-xs-12 col-sm-4">
          <div class="card">
            <%= link_to cocktail_path(cocktail) do %>
              <% if cocktail.photo? %>
                <%= cl_image_tag cocktail.photo.path, width: 250, height: 250, crop: :fill, class: "card-image" %>
              <% end %>
              <p class="card-name"><%= cocktail.name %></p>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>


